/* src/Componentes/DatosSiembra.css */
.datos-siembra-container {
    padding: 20px;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  